include README.rst
include LICENSE
include *.cmake
include FetchContent/*.cmake.in
include CMakeLists.txt
include pyproject.toml
include requirements.txt
include setup.py
include setup.cfg

recursive-include pyqubo *
recursive-include tests *
recursive-include src *
recursive-include external *
recursive-include include *
recursive-include cpp_dimod *
