include README.rst
include LICENSE
include CMakeLists.txt
include pyproject.toml
include setup.py
include setup.cfg

exclude requirements.txt
exclude .coveragerc
exclude .gitignore
exclude Makefile
exclude requirements_doctest.txt
exclude requirements_rtd.txt

graft pyqubo
graft src
graft external
graft cpp_dimod
graft include
graft tests 

prune .circleci
prune .github
prune benchmark
prune docs
prune images
prune notebooks
