[build-system]
requires = [
    'cmake>=3.20.5',
    'pip>=19.3',
    'setuptools>=57.1.0',
    'wheel>=0.36.2',
    'build>=0.5.1',
    'Cython>=0.29.24', 
    "ninja; platform_machine!='aarch64' and platform_machine != 'arm64'",
]
build-backend = "setuptools.build_meta"
