coverage>=4.5.1
codecov>=2.1.9
dwave-neal>=0.5.4
nbsphinx>=0.3.5
Deprecated>=1.2.10
six>=1.15.0
numpy==1.19.4; python_version >= '3.6'
numpy==1.18.5; python_version == '3.5'
dimod==0.11.3
nbsphinx>=0.8.3; python_version >= '3.8'
nbsphinx==0.3.5; python_version < '3.8'
docutils<0.17,>=0.12; python_version < '3.8'
